{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>資工購物平台</h1>
    <p class="lead">資工購物平台是一個使用 Flutter 開發的桌面應用程式，提供簡潔的購物體驗，並支援深色與淺色模式切換。</p>
    <p><a href="https://github.com/ChenGuoXiang940/SC2_myproject" class="btn btn-primary btn-large">下載 &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>應用程式特色</h2>
        <p>
            此應用程式提供使用者友好的介面，支援商品瀏覽、購物車管理以及使用者登入功能。
            使用者可以輕鬆地在平台上找到所需商品並進行購買。
        </p>
        <p><a class="btn btn-default" href="{% url 'about' %}">了解更多 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>技術細節</h2>
        <p>
            此應用程式支援 手機、Windows、Linux 和 macOS 平台。
        </p>
        <p><a class="btn btn-default" href="{% url 'about' %}">了解更多 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>深色與淺色模式</h2>
        <p>
            使用者可以根據自己的喜好切換深色或淺色模式，提供更好的使用體驗。
        </p>
        <p><a class="btn btn-default" href="{% url 'about' %}">了解更多 &raquo;</a></p>
    </div>
</div>

{% endblock %}